doctype html
html(lang="en")
  head
    title= siteTitle
    link(rel='shortcut icon', href='./favicon.png', type='image/x-icon')
    link(href='./style.css', rel='stylesheet')
    script(src='./socket.io.js')
    script(src='./react.js')
    script(src='./react-dom.js')


  body
    h6 Test
    #container.col
      #maindiv

    script(src='main.js')
