doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title index.html
    meta(name='description', content='Simple page')
    meta(name='author', content='HMJ')
    link(rel='shortcut icon', href='./favicon.png', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='./style.css')
    script(src='./lib/react.js')
    script(src='./lib/react-dom.js')
    script(src='./lib/socket.io.js')

  body


    #simplechat
    
    script(src='./main.js')
