@import url("./node_modules/cardinalcss/cardinal.less");

.bord {

  border:2px #BBDDFF dashed;
}
#messages{
  height:200px;
  overflow:hidden;
}

#userslist{
  height:200px;
}
.useritem{
  font-weight: bold;
}
